* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary   */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* ### Neutral */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  src: url("../src/assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  src: url("../src/assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  src: url("../src/assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--magnolia);
  font-family: "Ubuntu", sans-serif;
}

.homepage {
  width: 60vw;
  height: 85vh;
  display: flex;
  background-color: var(--white);
  /* border: 2px solid red; */
  border-radius: 14px;
  padding: 12px;
  gap: 10px;
}
.sidebar {
  width: 19vw;
  height: 100%;
  /* border: 1px solid red; */
  border-radius: 10px;
  background-image: url("../src/assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-next {
  background-color: var(--marine-blue);
  color: var(--white);
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  display: flex;
  margin-left: auto;
  margin-top: 100px;
  transition: background-color 0.9s;
}
.btn-next:hover {
  background-color: var(--purplish-blue);
}
.btn-back {
  background-color: transparent;
  color: var(--cool-gray);
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  display: flex;
  margin-right: auto;
  margin-top: 100px;
  transition: color 0.9s;
}
.btn-back:hover {
  color: var(--marine-blue);
}
.btn-confirm {
  background-color: var(--purplish-blue);
  color: var(--white);
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  display: flex;
  margin-left: auto;
  margin-top: 100px;
}
.step {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 32px;
}
.step-btn {
  width: 35px;
  height: 35px;
  border: 1px solid var(--white);
  border-radius: 50%;
  background-color: transparent;
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}
.step-num {
  font-size: 0.8rem;
  color: var(--cool-gray);
  letter-spacing: 1px;
}
.step-title {
  font-size: 0.9rem;
  color: var(--white);
  letter-spacing: 2px;
}
.sidebar a.active .step-btn {
  background-color: var(--light-blue);
  color: var(--marine-blue);
}
.sidebar a {
  text-decoration: none;
}
.user-info,
.plans,
.add-ons,
.summary,
.thank-you {
  width: 38vw;
  height: 100%;
  /* border: 1px solid red; */
  padding: 40px 50px;
}
.user-info .info-container,
.plans .plan-container,
.add-ons .add-ons-container,
.summary .summary-container,
.thank-you .thank-you-container {
  height: 100%;
  position: relative;
  /* border: 1px solid red; */
}
.user-info h1,
.plans h1,
.add-ons h1,
.summary h1 {
  color: var(--marine-blue);
  font-weight: bold;
  margin-bottom: 5px;
}
.user-info p,
.plans p,
.add-ons p,
.summary p {
  font-size: 0.93rem;
  color: var(--cool-gray);
}
.info-form div {
  margin-top: 20px;
}
.info-form {
  margin-top: 35px;
}
.info-form label {
  font-size: 0.95rem;
  color: var(--marine-blue);
}
.info-form .error {
  color: var(--strawberry-red);
  font-size: 0.8rem;
  margin-top: 5px;
  font-weight: bold;
  position: absolute;
  right: 25%;
}
.info-form input {
  width: 100%;
  font-size: 1rem;
  color: var(--marine-blue);
  border: 1px solid var(--light-gray);
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 10px;
  outline: none;
}
.info-form input::placeholder {
  color: var(--cool-gray);
  font-weight: normal;
}
.info-form input:focus {
  border: 1px solid var(--purplish-blue);
}
.info-form .input-error {
  border: 1px solid var(--strawberry-red);
}
.plan-cards {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 35px;
}
.card {
  width: 150px;
  height: 170px;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
  transition: border 0.9s;
}
.card:hover {
  border: 1px solid var(--purplish-blue);
}
.card img {
  margin-bottom: 50px;
}
.card h4 {
  color: var(--marine-blue);
}
.card p {
  font-size: 0.8rem;
  color: var(--cool-gray);
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.card small.free-plan {
  font-size: 0.75rem;
  color: var(--marine-blue);
}
.card.selected {
  border: 1px solid var(--purplish-blue);
  background-color: var(--magnolia);
}
.plan-option {
  width: 100%;
  height: 50px;
  background-color: var(--magnolia);
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.plan-option p.active {
  color: var(--marine-blue);
  font-weight: bold;
}
.plan-buttons,
.add-ons-buttons,
.summary-buttons {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--marine-blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: var(--white);
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  transform: translateX(23px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.plan-option p {
  font-size: 0.9rem;
  color: var(--cool-gray);
  font-weight: bold;
}
.add-ons-experience {
  margin-top: 35px;
}
.experience {
  width: 100%;
  height: 70px;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-top: 20px;
  cursor: pointer;
  transition: border 0.9s;
}
.experience p {
  font-size: 0.8rem;
  color: var(--purplish-blue);
}
.experience:hover {
  border: 1px solid var(--purplish-blue);
}
.experience.selected {
  border: 1px solid var(--purplish-blue);
  background-color: var(--magnolia);
}
.check-exp {
  display: flex;
  align-items: center;
  gap: 30px;
}
.check-exp input {
  width: 15px;
  height: 15px;
  accent-color: var(--purplish-blue);
  color: var(--white);
  cursor: pointer;
}
.check-exp h4 {
  color: var(--marine-blue);
  margin-bottom: 5px;
}
.check-exp p {
  font-size: 0.8rem;
  color: var(--cool-gray);
}
.summary-details {
  width: 100%;
  background-color: var(--magnolia);
  border-radius: 8px;
  padding: 10px 15px;
  margin-top: 40px;
}
.plan-info-cont {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-gray);
  padding-bottom: 15px;
}
.plan-info-cont .info-price {
  color: var(--marine-blue);
  font-weight: bold;
  font-size: 0.9rem;
}
.plan-info h4 {
  font-weight: bold;
  color: var(--marine-blue);
  margin-bottom: 5px;
}
.plan-info a {
  color: var(--cool-gray);
  font-size: 0.8rem;
  text-decoration: underline;
  cursor: pointer;
}
.summary-change {
  color: var(--cool-gray);
  font-size: 0.8rem;
  text-decoration: underline;
  cursor: pointer;
}
.addon-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.addon-item span,
.summary-total h2 {
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--cool-gray);
}
.summary-add-ons {
  margin-top: 15px;
  border-top: 1px solid var(--light-gray);
  padding-top: 15px;
}
.summary-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.summary-total span {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--purplish-blue);
}
.thank-you-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.thank-you-container h1 {
  color: var(--marine-blue);
  margin-top: 30px;
  font-weight: bold;
}
.thank-you-container p {
  font-size: 0.95rem;
  color: var(--cool-gray);
  margin-top: 20px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    flex-direction: column;
    /* position: relative; */
    align-items: normal;
  }
  .homepage {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: red;
    flex-direction: column;
    padding: 0;
    gap: 0;
    border-radius: 0;
  }
  .sidebar {
    width: 100%;
    /* height: 172px; */
    border-radius: 0;
    background-image: url("../src/assets/images/bg-sidebar-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
  }
  .step {
    gap: 5px;
    margin: 0 8px;
    /* margin-bottom: 570px; */
    /* margin-bottom: 80px; */
  }
  /* .step button {
    position: absolute;
  } */
  .step div {
    display: none;
  }
  .user-info,
  .plans,
  .add-ons,
  .summary,
  .thank-you {
    width: 90%;
    /* height: 72%; */
    background-color: var(--white);
    margin: 0 auto;
    padding: 24px;
    border-radius: 12px;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    /* right: 5%;
    bottom: -15%; */
  }
  /* .btn {
    position: absolute;
  } */
  /* .btn-next,
  .btn-back {
    position: absolute;
    right: 0;
    bottom: 2%;
  } */
  /* .user-info .info-container,
  .plans .plan-container,
  .add-ons .add-ons-container,
  .summary .summary-container,
  .thank-you .thank-you-container {
  } */
  .btn,
  .plan-buttons,
  .add-ons-buttons,
  .summary-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
  }
  .plan-cards {
    flex-direction: column;
  }
  .card {
    width: 100%;
    height: 100px;
    display: flex;
    gap: 10px;
  }
  .card div {
    align-items: center;
  }
  .card img {
    margin-bottom: 0;
  }
}
