* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary   */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* ### Neutral */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  src: url("../src/assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  src: url("../src/assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  src: url("../src/assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--magnolia);
  font-family: "Ubuntu", sans-serif;
}

.homepage {
  width: 60vw;
  height: 85vh;
  display: flex;
  background-color: var(--white);
  /* border: 2px solid red; */
  border-radius: 14px;
  padding: 12px;
  gap: 10px;
}
.sidebar {
  width: 19vw;
  height: 100%;
  /* border: 1px solid red; */
  border-radius: 10px;
  background-image: url("../src/assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-next {
  background-color: var(--marine-blue);
  color: var(--white);
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  display: flex;
  margin-left: auto;
  margin-top: 100px;
  transition: background-color 0.3s;
}
.step {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 32px;
}
.step-btn {
  width: 35px;
  height: 35px;
  border: 1px solid var(--white);
  border-radius: 50%;
  background-color: transparent;
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.step-num {
  font-size: 0.8rem;
  color: var(--cool-gray);
  letter-spacing: 1px;
}
.step-title {
  font-size: 0.9rem;
  color: var(--white);
  letter-spacing: 2px;
}
.sidebar a.active .step-btn {
  background-color: var(--light-blue);
  color: var(--marine-blue);
}
.sidebar a {
  text-decoration: none;
}
.user-info {
  width: 38vw;
  height: 100%;
  /* border: 1px solid red; */
  padding: 40px 50px;
}
.user-info .info-container {
  height: 100%;
  /* border: 1px solid red; */
}
.user-info h1 {
  color: var(--marine-blue);
  font-weight: bold;
  margin-bottom: 5px;
}
.user-info p {
  font-size: 0.93rem;
  color: var(--cool-gray);
}
.info-form div {
  margin-top: 20px;
}
.info-form {
  margin-top: 35px;
}
.info-form label {
  font-size: 0.95rem;
  color: var(--marine-blue);
}
.info-form .error {
  color: var(--strawberry-red);
  font-size: 0.8rem;
  margin-top: 5px;
  font-weight: bold;
  position: absolute;
  right: 25%;
}
.info-form input {
  width: 100%;
  font-size: 1rem;
  color: var(--marine-blue);
  border: 1px solid var(--light-gray);
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 10px;
  outline: none;
}
.info-form input::placeholder {
  color: var(--cool-gray);
  font-weight: normal;
}
.info-form input:focus {
  border: 1px solid var(--purplish-blue);
}
.info-form .input-error {
  border: 1px solid var(--strawberry-red);
}
